* {
  margin: 0;
  padding: 0;
  border: none;
}
.grey {
  background-color: #cccccc;
  height: 35px;
  padding: 0 20px;
  text-align: center;
}
.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#one {
  display: none;
}
.container-add {
  display: none;
}
.btn {
  background-color: #cccccc;
  height: 30px;
  border: 1px solid #666666;
  vertical-align: middle;
  margin-top: 2px;
  font-weight: bold;
}
.p1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  line-height: 35px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.row0 {
  margin: 0;
}
.row1 {
  margin: 0;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  position: relative;
}
.mask1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cccccc;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}
.btn3 {
  background-color: #cccccc;
}
#cancel {
  display: none;
}
#done {
  display: none;
}
.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cccccc;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}
.start {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid red;
  border-bottom: 10px solid transparent;
  margin-top: 20px;
}
.row-pink {
  margin: 0;
  background-color: #FFECEF;
}
.start2 {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid red;
  border-bottom: 10px solid transparent;
  margin-top: 20px;
  border-left: 20px solid #CCCCCC;
  display: inline-block;
  margin: 10px;
}
.row-blue {
  margin: 0;
  background-color: aliceblue;
  border-top: 1px solid #cccccc;
}
.circle {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
}
.p3 {
  line-height: 40px;
  vertical-align: top;
}
.red {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
}
.yellow {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: yellow;
}
.green {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: green;
}
.triangle1 {
  width: 10px;
  height: 20px;
  margin: 10px;
  background-color: #cccccc;
  display: inline-block;
}
.triangle2 {
  width: 20px;
  height: 10px;
  margin: 10px;
  margin-top: 20px;
  background-color: #cccccc;
  display: inline-block;
}
.triangle11 {
  width: 10px;
  height: 20px;
  margin: 10px;
  background-color: #cccccc;
  display: inline-block;
  background-color: green;
}
.triangle21 {
  width: 20px;
  height: 10px;
  margin: 10px;
  margin-top: 20px;
  background-color: #cccccc;
  display: inline-block;
  background-color: yellow;
  color: #0000ff;
}
.btn2 {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  padding: 0px 3px;
  box-sizing: border-box;
}
#row-blue1 {
  margin: 0;
  background-color: aliceblue;
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 3px 0;
  border-bottom: 1px solid #cccccc;
}
#row-pink1 {
  margin: 0;
  background-color: aliceblue;
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 3px 0;
  border-bottom: 1px solid #cccccc;
}
.row2 {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.textarea {
  margin: 0 auto;
  width: 100%;
  border: 1px solid #cccccc;
  resize: none;
}
